
  /* Navbar links style */
  .nav-link {
    font-size: 1.1rem;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  /* Center content styling */
  .container.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px); /* Adjust for navbar height */
  }
  